# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core
wwwroot/lib/
wwwroot/node_modules/

# Files built by Visual Studio
*.dbmdl
*.bak
*.sql

# Configuration
appsettings.Development.json
secrets.json

# Dotnet CLI
*.pid
*.vspscc
*.vssscc
*.dotCover

# JetBrains Rider
.idea/
*.sln.iml

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
