@{
    ViewData["Title"] = "Hoja de vida";
}

<div class="text-center">
    <h1 class="display-4">¡Hola!</h1>
    <p>Soy Carlos Bello, conoce mi <a href="~/files/HojaDeVida.pdf" download>hoja de vida </a> y formemos equipo.</p>
</div>
